$blue: #4680ff;
$light-blue: #d9e8ff;
$red: red;
$light-red: #ffe2e9;
$yellow: #ffb64d;
$light-yellow: #fff1db;

$border-color: rgba(211, 211, 211, 0.55);
$grey: #f6f7fb; // Default board BG color
$secondary-text: #838282;
